<template>
  <Layout>
    <h3>Name</h3>
    <p>{{ $page.people.name }}</p>

    <h3>Website</h3>
    <p>
      <g-link :to="$page.people.website">{{ $page.people.website }}</g-link>
    </p>

    <h3>Biography</h3>
    <p v-html="$page.people.content"></p>
  </Layout>
</template>

<script>
export default {};
</script>

<page-query>
query($id: ID!){
  people(id: $id){
    name
    content
    website
  }
}
</page-query>

<style></style>
