<template>
  <Layout>
    <h1>{{ $page.projects.title }}</h1>
    <div v-html="$page.projects.content" />
  </Layout>
</template>

<script>
export default {};
</script>

<page-query>
query($id: ID!){
  projects(id: $id){
    title
    content
  }
}
</page-query>

<style></style>
