<template>
  <Layout>
    <PeopleList />
    <ProjectList />
  </Layout>
</template>

<script>
import ProjectList from "~/components/ProjectList.vue";
import PeopleList from "~/components/PeopleList.vue";

export default {
  components: {
    ProjectList,
    PeopleList
  },
  metaInfo: {
    title: "Index"
  }
};
</script>

<style>
.home-links a {
  margin-right: 1rem;
}
</style>
