<template>
  <footer>
    <div id="parsons_logo_footer" v-html="logo" />
  </footer>
</template>

<script>
export default {
  name: "Footer",
  data() {
    /* FROM ZACH: SORRY, THIS IS EXTREMELY HACKY */
    return {
      logo: `<svg version="1.1" id="ParsonsLogo"
xmlns="http://www.w3.org/2000/svg"
xmlns:xlink="http://www.w3.org/1999/xlink"
x="0px" y="0px"
viewBox="0 0 318.8 50.9"
style="enable-background:new 0 0 318.8 50.9;"
xml:space="preserve"
role="image"
aria-labelledby="title desc"
>
<title>Parsons School of Design Logo</title>
<desc></desc>
     <g aria-hidden="true">
       <path d="M2.2,12v-1.8h316.6V12H2.2z"/>
     </g>
     <g aria-hidden="true">
       <path d="M2.2,16v-1.8h52V16H2.2z"/>
     </g>
     <g aria-hidden="true">
       <g>
         <g>
           <path d="M4.4,1.9v6.1h-2V1.9H0V0.2h6.9v1.8H4.4z"/>
           <path d="M15,5.1H9.8v3h-2V0.2h2v3H15v-3h2v7.9h-2V5.1z"/>
           <path d="M18.2,8.1V0.2h5.6v1.8h-3.6v1.3h3V5h-3v1.3h3.6v1.8H18.2z"/>
           <path d="M29.7,3h-0.3v5.1h-2V0.2h2.3l4.6,4.9h0.3V0.2h2v7.9h-2.2L29.7,3z"/>
           <path d="M37.9,8.1V0.2h5.6v1.8h-3.6v1.3h3V5h-3v1.3h3.6v1.8H37.9z"/>
           <path d="M44,0.2h2.2l1.7,6.3h0.5l1.6-6.3h3.7l1.8,6.3h0.5l1.5-6.3h2.2l-2.2,7.9h-3.5l-1.8-6.3h-0.6l-1.7,6.3h-3.5L44,0.2z"/>
           <path d="M62.5,2.6c0-1.7,1.3-2.6,3.1-2.6c1,0,2.1,0.3,2.7,0.6l-0.4,1.7c-0.7-0.4-1.7-0.6-2.4-0.6c-0.6,0-1,0.2-1,0.7
             c0,1.3,4.1,0.6,4.1,3.2c0,1.4-1,2.7-3.1,2.7c-0.9,0-1.9-0.1-2.7-0.5l0.1-1.8c0.8,0.4,1.7,0.6,2.7,0.6c0.9,0,1.1-0.3,1.1-0.7
             C66.6,4.7,62.5,5.4,62.5,2.6z"/>
           <path d="M75.4,8c-0.6,0.2-1.2,0.3-2.1,0.3c-2.5,0-4.1-1.9-4.1-4.1c0-2.2,1.7-4.1,4.3-4.1c0.7,0,1.4,0,2,0.2L75.3,2
             c-0.7-0.2-1.2-0.3-1.8-0.3c-1.5,0-2.3,0.9-2.3,2.3c0,1.5,1,2.3,2.4,2.3c0.9,0,1.2-0.1,1.8-0.3V8z"/>
           <path d="M83.8,5.1h-5.2v3h-2V0.2h2v3h5.2v-3h2v7.9h-2V5.1z"/>
           <path d="M91.3,0c2.7,0,4.7,1.4,4.7,4.1c0,2.8-2.1,4.2-4.7,4.2c-2.6,0-4.7-1.4-4.7-4.1C86.5,1.5,88.5,0,91.3,0z M91.2,6.6
             c1.6,0,2.7-0.8,2.7-2.5c0-1.6-1.1-2.4-2.7-2.4c-1.5,0-2.7,0.8-2.7,2.4C88.6,5.8,89.7,6.6,91.2,6.6z"/>
           <path d="M101.3,0c2.7,0,4.7,1.4,4.7,4.1c0,2.8-2.1,4.2-4.7,4.2c-2.6,0-4.7-1.4-4.7-4.1C96.6,1.5,98.5,0,101.3,0z M101.3,6.6
             c1.6,0,2.7-0.8,2.7-2.5c0-1.6-1.1-2.4-2.7-2.4c-1.5,0-2.7,0.8-2.7,2.4C98.6,5.8,99.7,6.6,101.3,6.6z"/>
           <path d="M106.8,0.2h2v6h6.1v1.9h-8.1V0.2z"/>
         </g>
       </g>
     </g>
     <g aria-hidden="true">
       <path class="st0" d="M56.4,14.2h27.9c9,0,13.4,5.7,13.4,12.3c0,7.9-6.4,12.7-13.4,12.7H65.4v11h-9V14.2z M65.4,22.3v9.2h17.5
         c4.4,0,5.4-2.5,5.4-4.8c0-1.9-1-4.4-5.4-4.4H65.4z"/>
       <path class="st0" d="M117.1,43.3H104l-2.5,6.9h-9.6l14.4-36h9.3l13.5,36h-9.8L117.1,43.3z M106.6,36h8.2l-3.9-12L106.6,36z"/>
       <path class="st0" d="M130.6,14.2h17.1c8.1,0,12.1,5.7,12.1,12.3c0,5.3-2.7,9.2-6.3,11.2l6.3,12.5h-10.1l-5-11h-5v11h-9V14.2z
          M139.6,22.3v9.2h5.8c3.5,0,4.9-2.5,4.9-4.8c0-1.9-1.4-4.4-4.9-4.4H139.6z"/>
       <path class="st0" d="M161.8,25.2c0-7.6,6.1-11.7,13.9-11.7c4.5,0,9.5,1.2,12.4,2.8l-1.7,7.6c-3-1.8-7.5-2.7-11-2.7
         c-2.8,0-4.7,1.1-4.7,3c0,5.8,18.4,2.6,18.4,14.7c0,6.4-4.6,12.1-14.2,12.1c-4.1,0-8.7-0.5-12.5-2.3l0.4-8.2
         c3.7,1.8,7.8,2.8,12.4,2.8c4,0,4.9-1.4,4.9-3.1C180.2,34.8,161.8,37.9,161.8,25.2z"/>
       <path class="st0" d="M211.4,13.5c12.4,0,21.3,6.4,21.3,18.5c0,12.6-9.6,18.9-21.3,18.9c-11.8,0-21.4-6.3-21.4-18.9
         C189.9,20.3,198.7,13.5,211.4,13.5z M211.2,43.4c7.1,0,12.1-3.6,12.1-11.5c0-7.2-5.1-10.8-12.1-10.8c-7,0-12.1,3.5-12.1,11.1
         C199.2,39.7,204.3,43.4,211.2,43.4z"/>
       <path class="st0" d="M245.9,25h-2.2v25.2h-9v-36h12.6l23.8,22.7h2.2V14.2h9v36h-10.9L245.9,25z"/>
       <path class="st0" d="M285.6,25.2c0-7.6,7.2-11.7,16.8-11.7c6.1,0,12.5,1.2,15.3,2.8l-1.7,7.6c-3-1.8-9.1-2.7-13.9-2.7
         c-5.2,0-7.6,1.1-7.6,3c0,6.2,24.3,1.4,24.3,14.7c0,6.4-5.5,12.1-17.1,12.1c-5.2,0-11.7-0.5-15.4-2.3l0.4-8.2
         c3.7,1.8,9.2,2.8,15.3,2.8c5.9,0,7.9-1.4,7.9-3.1C309.9,34.4,285.6,39,285.6,25.2z"/>
     </g>
     </svg>`
    };
  }
};
</script>

<style scoped>
footer {
  margin-top: 2rem;
}
#parsons_logo_footer >>> svg {
  width: 200px;
}
</style>
