<template>
  <nav class="nav">
    <h1 role="name">
      {{ $static.metadata.title }}
    </h1>
    <h2 class="mono">
      {{ $static.metadata.subtitle }}
    </h2>

    <ul>
      <li><g-link to="/">Home</g-link></li>
      <li><g-link to="/schedule/">Schedule</g-link></li>
      <li><g-link to="/about/">About</g-link></li>
      <li><a href="#">RSVP</a></li>
    </ul>
  </nav>
</template>

<static-query>
query {
  metadata {
    title,
    subtitle
  }
}
</static-query>

<script>
export default {
  name: "Header"
};
</script>

<style scoped>

h1{
  font-size:2.5rem;
  margin-left: -0.05em;
}

nav >>> ul,
nav >>> ul li {
  list-style: none;
  display: inline-block;
  margin-right: 1rem;
}
nav >>> ul {
  margin:1rem 0;
}
nav >>> ul li a {
  color: blue;
}
</style>
