<template>
  <div>
    <h1>People List</h1>
    <div>
      <g-link
        v-for="(link, index) in $static.people.edges"
        :to="link.node.path"
        :key="index"
        style="margin-right:1rem"
      >
        {{ link.node.name }}
      </g-link>
    </div>
  </div>
</template>

<static-query>
query PeopleList{
  people: allPeople (sortBy: "name", order: ASC){
  	edges {
      node {
        name
        path
      }
    }
  }
}
</static-query>

<script>
export default {
  name: "PeopleList"
};
</script>

<style scoped></style>
