<template>
  <div>
    <h1>Project List</h1>
    <g-link
      v-for="(link, index) in $static.project.edges"
      :to="link.node.path"
      :key="index"
      style="margin-right:1rem"
    >
      {{ link.node.title }}
    </g-link>
  </div>
</template>

<static-query>
query ProjectList {
  project: allProjects {
    edges {
      node {
        title
        content
        path
      }
    }
  }
}
</static-query>

<script>
export default {
  name: "ProjectList"
};
</script>

<style scoped>
div {
  margin-top: 2rem;
}
</style>
