<template>
  <div class="layout">
    <Header />
    <slot />
    <Footer />
  </div>
</template>

<script>
import Header from "../components/Header.vue";
import Footer from "../components/Footer.vue";

export default {
  name: "Layout",
  components: {
    Header,
    Footer
  }
};
</script>

<style>
@font-face {
  font-family: "GT America Expanded Black";
  src: url("../assets/GT-America-Expanded-Black.eot")
      format("embedded-opentype"),
    url("../assets/GT-America-Expanded-Black.woff") format("woff"),
    url("../assets/GT-America-Expanded-Black.woff2") format("woff2"),
    url("../assets/GT-America-Expanded-Black.ttf") format("truetype");
}
@font-face {
  font-family: "GT America Mono Light";
  src: url("../assets/GT-America-Mono-Light.eot") format("embedded-opentype"),
    url("../assets/GT-America-Mono-Light.woff") format("woff"),
    url("../assets/GT-America-Mono-Light.woff2") format("woff2"),
    url("../assets/GT-America-Mono-Light.ttf") format("truetype");
}

body {
  font-family: "GT America Mono Light", -apple-system, system-ui,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  padding: 0;
  letter-spacing: -0.25pt;
  line-height: 1.33;
}

.layout {
  max-width: 800px;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "GT America Expanded Black", "Arial Black", Helvetica, sans-serif;
  text-transform: uppercase;
}

.mono {
  font-family: "GT America Mono Light";
}

p {
  padding-bottom: 1em;
}
</style>
